/* Initialisation */

@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body {
    margin:0;
    height: 100%;
    font-weight: bold;
    font-family: 'Saira Extra Condensed', sans-serif;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, #74b2dc, black, #23a6d5, gray);
	background-size: 400% 400%;
	animation: animate-background 15s ease-in-out infinite;
    transition: 1s all;
}

.main {
    padding: 10px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
    width: 100%;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*************************************************************************************************************************************************************************************************************************************************************************/
/* En-tête */

.header{
    z-index: 1;
    position: fixed;
    overflow: visible;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 15px black;
}

.leftSide {
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.logoIM{
    align-self: center;
    height: 100px;
    width: 100px;
}

.slogan{
    padding-left: 10px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 4px;
    color: #74b2dc;
    display: inline;
    align-self: center;
}

nav.menuNav{
    display: flex;
    flex-direction: row;
    background-color: white;
}

nav.menuNav ul{
    align-self: center;
    margin-right: 1%;
    margin-left: auto;
}

nav.menuNav ul li.button{
    display: inline-flex;
    border-radius: 10px;
    margin-right: 3px;
    
}

nav.menuNav ul li.button a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav.menuNav ul li.button:hover a{
    color: white;
    background: linear-gradient(-45deg, #74b2dc, #23a6d5, rgb(0, 213, 255), rgb(0, 225, 255));
	background-size: 400% 400%;
	animation: animate-background 1s ease-in-out infinite;
    transition: 1s all;
    overflow: hidden;
    border-radius: 20px;
}

/* burger menu for responsive navbar */

.burger{
    display: none;
    cursor: pointer;
    align-self: center;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #74b2dc;
    margin: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 1043px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        background: white;
        border-radius: 20px 0px 0px 20px;
        box-shadow: 1px 1px 15px black;
        position: absolute;
        right: -15px;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        left: 0;
        opacity: 0;
    }

    .burger{
        display: block;
        align-self:center;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*************************************************************************************************************************************************************************************************************************************************************************/
/* Contenu */

.top{
    margin: 0;
	height: 100vh;
	width: 100%;
	background-image: url(img/background.jpg);
	background-size: cover;
	background-position: center;
}

.content{
	padding: 20px;
    padding-top: 0;
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
	background-color: rgba(37, 37, 37, 0.753);
	border-radius: 20px;
	box-shadow: 1px 1px 15px black;
}

h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 100px;
}

h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

h3{
	color: white;
	font-size: 25px;
	margin-bottom: 70px;
}

h4{
	color: rgba(136, 190, 252, 0.8);
	letter-spacing: 2px;
	font-size: 40px;
}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.letStart{
	background-color:#74b2dc;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.letStart:hover{
	background-color: transparent;
	border: 2px solid #74b2dc;
	cursor: pointer;
}

.service{
	background: linear-gradient(-45deg, #74b2dc, black, #23a6d5, gray);
	background-size: 400% 400%;
	animation: animate-background 15s ease-in-out infinite;
    transition: 1s all;
	width: 100%;
	padding: 100px 0px;
    margin-bottom: 55px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.title{
    display: flex;
    align-items: center;
    align-content: center;
}

.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background-color: rgba(37, 37, 37, 0.753);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	box-shadow: 1px 1px 15px black;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #74b2dc;

}

.pra p{
	color: #74b2dc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.bottomButtons{
	background-color:#74b2dc;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.bottomButtons:hover{
	background-color: transparent;
	border: 2px solid #74b2dc;
	cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .box{
        flex-direction: column;
    }

	.card{
		width: 700px;
	}

}

@media only screen and (max-width: 800px) {
	.card{
		width: 400px;
	}

}

/*************************************************************************************************************************************************************************************************************************************************************************/
/* Pied-de-page */

.footer{
    background: white;
    display: flex;
    position: fixed;
    bottom: 0px;
    align-items: center;
    width: 100%;
}

.footer ul li.link{
    display: inline-block;
    list-style-type: none;
}

.footer ul li.link a{
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.footer ul li.link:hover a{
    background-color: black;
    color: white;
    transition: 0.4s all;
}

div.poweredByOversight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
    margin-left: auto;
}

p.poweredBy{
    color: black;
    margin-right: 5px;
}

a.oversight{
    text-decoration: none;
    color: #52cde1;
}

/*************************************************************************************************************************************************************************************************************************************************************************/
/*************************************************************************************************************************************************************************************************************************************************************************/
